# Import Necessary Packages

In [1]:
import pandas as pd

# Creating complex_words.csv

Comparing the list of words to get the school level column to populate correctly did not work right. I opted to do it the long and difficult way.

Each word seperated into the school levels they belong to.

In [2]:
middle_school_level = "abate, abide, abode, abrupt, absorb, abstain, absurd, abyss, accord, anathema, annex, bane, cogent, conduit, crass, dearth, debacle, defunct, dispel, edict, elicit, extant, foiled, foil, inane, mores, pert, quaint, rife, tome, trite, yoke, tutor, clout, accrue, acta, aft, akin, amid, ana, asp, aura, avid, awe, brute, chic, clad, coup, daft, dap, dire, duly, eon, ergo, eve, flux, heed, helm, hex, hind, hue, ire, keen, kiln, leer, lest, lug, lush, moot, ode, omit, poise, prod, prone, reel, riff, romp, rout, scant, sect, seep, sheen, shunt, silt, skew, skirr, sly, smelt, snare, sod, spiel, stern, stint, stout, stow, strut, subtle, sync, tacit, tact, taut, tether, thwart, toil, vat, vie, vigor, vivid, vying, wane, wary, weary, whim, woe, zeal"
high_school_level = "aback, abalone, abased, abbot, abet, abettor, abeyance, abject, abhorrent, abridge, abrogate, abstruse, acarid, accede, accolade, accredit, acumen, admonish, alacrity, arboreal, ascetic, clamor, cleave, cobbler, consign, contrite, covet, despot, didactic, dirge, disrepute, dogmatic, dour, emollient, ephemeral, espouse, evince, fallacious, flagrant, fortuitous, fractious, gratuitous, hapless, impinge, impute, inimical, inoculate, instigate, inure, invective, knell, linchpin, litigant, maelstrom, maudlin, maverick, morass, nadir, panacea, paucity, pernicious, portent, profligate, prurient, puerile, relegate, remiss, reprieve, sanguine, sobriety, solicitous, staid, swarthy, travesty, trenchant, turpitude, veracity, vestige, vitriolic, winsome, zephyr, wily, tirade, grommet, sultry, accursed, accuser, acerbic, acerous, acetic, acme, acrid, adage, adduce, aegis, airfoil, alcove, alibi, allay, allude, alms, ambit, amble, amity, ancon, anent, animus, aphid, aptly, atone, awry, bask, bemoan, berate, bide, biome, boor, brash, brawl, butte, bygone, captor, cask, chaff, chard, chasm, chock, chroma, coax, cower, coy, crag, curt, dais, deft, delude, drab, droll, dupe, ebb, eke, elude, feign, fickle, flak, forgo, furl, garish, gauche, ghee, goad, gouge, heft, hew, hoax, hubris, illude, ingot, iota, jive, jolt, jot, knoll, laud, lave, lax, leery, lithe, loath, lob, lop, lunge, lurk, maim, meek, morsel, mull, naught, nook, obtuse, opus, placid, pleat, pout, privy, profuse, pry, puny, putrid, quell, rapt, reek, reform, relent, rend, repute, ruse, sate, shard, sigil, slat, sleuth, smirk, snafu, sneer, snide, snub, soiree, somber, sop, spew, spire, splay, stasis, stifle, stoke, suave, supine, surly, swath, tepid, topple, trawl, trice, trifle, trill, trope, unapt, usury, valor, verve, vouch, welt, whirl, wield, wile, writhe"
college_level = "abase, abashed, abasia, abatis, abduct, abele, abhor, abiosis, abient, ablate, ablaze, abrade, abscind, absolve, accost, accosted, arrogate, bashful, carouse, connive, contusion, debunk, duplicity, elegy, emend, enervate, exhort, exigent, expunge, extol, fetter, garrulous, gourmand, iconoclast, inchoate, licentious, modicum, neophyte, noisome, ostracism, palliate, pariah, pejorative, penurious, pithy, platitude, plaudit, plenitude, potentate, presage, probity, proclivity, protean, quandary, reprobate, scurrilous, stolid, subjugate, surfeit, torpid, truculent, nauseant, addend, acerbate, acerose, acetous, achene, aciniform, acquiesce, acrostic, adit, adulate, aerate, affix, antic, arete, argot, balk, bequeath, bungle, callow, careen, chortle, cohere, collude, comity, contort, contuse, couth, cowl, cyborg, dally, decry, dote, drawl, dyad, effigy, elate, exult, frill, gnash, gnaw, gruff, gyro, husk, imbue, inapt, knave, lank, malady, maraud, maw, ombre, plait, preen, pylon, pyre, quash, rancor, rasp, recant, redact, refract, resile, revile, rile, scoff, scowl, seethe, shirk, sidle, sinew, singe, slosh, souse, squall, sunder, swathe, tatter, teem, tousle, tuft, vapid, wiry"
post_college_level = "abaft, abamp, abampere, abash, abaxial, abbacy, abbess, abduce, abducent, abductee, abductor, abelmosk, abeyant, abjure, abnegate, abscond, acclivity, accroach, adumbrate, aggrandize, beguile, bilk, cajole, calumny, cavort, congruity, cupidity, debauch, discomfit, enfranchise, equivocal, execrable, expiate, expurgate, fatuous, mawkish, obdurate, officious, pellucid, phlegmatic, proscribe, quixotic, solipsism, toady, umbrage, upbraid, vilify, fipple, accustom, acedia, acerbity, acicular, aciculate, acolyte, acquit, addle, adjoin, adjure, agog, amuck, apiary, appall, avow, bawl, chide, conjoin, conk, dactyl, decoct, deify, divvy, doff, doily, edify, embroil, espy, exude, flay, fleck, flub, guck, gyre, hovel, irk, jeer, jibe, jinx, jowl, laze, liquefy, mewl, miff, mope, perplex, pilfer, posy, primp, qualm, quip, quirk, rebuff, reify, schlep, skulk, spry, vex, waft, yowl"

Splitting each string to make lists.

In [3]:
middle_school_level = middle_school_level.split(', ')
high_school_level = high_school_level.split(', ')
college_level = college_level.split(', ')
post_college_level = post_college_level.split(', ')

Making each list into it's own dataframe.

In [4]:
df = pd.DataFrame(middle_school_level, columns=["word"])
df_high = pd.DataFrame(high_school_level, columns=["word"])
df_college = pd.DataFrame(college_level, columns=["word"])
df_post = pd.DataFrame(post_college_level, columns=["word"])

Assigning the school level tag for each dataframe.

In [5]:
df['school level'] = "middle school"
df_high['school level'] = "high school"
df_college['school level'] = "college"
df_post['school level'] = "post college"

Assigning the complexity score based on the school level.

In [6]:
df['complexity'] = 14
df_high['complexity'] = 16
df_college['complexity'] = 18
df_post['complexity'] = 20

Concatenating the dataframes into one.

In [7]:
frames = [df, df_high, df_college, df_post]
result = pd.concat(frames)

In [8]:
result

       word   school level  complexity
0     abate  middle school          14
1     abide  middle school          14
2     abode  middle school          14
3    abrupt  middle school          14
4    absorb  middle school          14
..      ...            ...         ...
103   skulk   post college          20
104    spry   post college          20
105     vex   post college          20
106    waft   post college          20
107    yowl   post college          20

[604 rows x 3 columns]

Making sure that there aren't any duplicates.

In [9]:
result = result.drop_duplicates("word")

Same amount of rows shows that there were no duplicates.

In [10]:
result

       word   school level  complexity
0     abate  middle school          14
1     abide  middle school          14
2     abode  middle school          14
3    abrupt  middle school          14
4    absorb  middle school          14
..      ...            ...         ...
103   skulk   post college          20
104    spry   post college          20
105     vex   post college          20
106    waft   post college          20
107    yowl   post college          20

[604 rows x 3 columns]

I tried to sort the whole dataframe alphabetically, but that didn't work correctly either. I compiled all the words into their respective catagory based on the first letter of the word.

In [11]:
a_words = ["aback", "abaft", "abalone", "abamp", "abampere", "abase", "abased", "abash", "abashed", "abasia", "abate", "abatis", "abaxial", "abbacy", "abbess", "abbot", "abduce", "abduct", "abducent", "abductee", "abductor", "abele", "abelmosk", "abet", "abettor", "abeyance", "abeyant", "abhor", "abject", "abhorrent", "abjure", "abide", "abiosis", "abient", "ablate", "ablaze", "abnegate", "abode", "abrade", "abridge", "abrogate", "abrupt", "abscind", "absolve", "absorb", "abscond", "abstain", "abstruse", "absurd", "abyss", "acarid", "accede", "acclivity", "accolade", "accord", "accost", "accosted", "accredit", "accroach", "accrue", "acumen", "admonish", "adumbrate", "aggrandize", "alacrity", "anathema", "annex", "arboreal", "arrogate", "ascetic", "accursed", "accuser",  "accustom", "acedia", "acerbic", "acerbate", "acerbity", "acerose", "acerous", "acetic", "acetous", "achene", "acicular", "aciculate", "aciniform", "acme", "acolyte", "acquiesce", "acquit", "acrid", "acrostic", "acta", "adage", "addle", "adduce", "adit", "adjoin", "adjure", "adulate", "aegis", "aerate", "affix", "aft", "agog", "airfoil", "akin", "alcove", "alibi", "allay", "allude", "alms", "ambit", "amble", "amid", "amity", "amuck", "ana", "ancon", "anent", "animus", "antic", "aphid", "apiary", "appall", "aptly", "arete", "argot", "asp", "atone", "aura", "avid", "avow", "awe", "awry", "addend"]
b_words = ["bane", "bashful", "beguile", "bilk", "balk", "bask", "bawl", "bemoan", "bequeath", "berate", "bide", "biome", "boor", "brash", "brawl", "brute", "bungle", "butte", "bygone"]
c_words = ["cajole", "calumny", "carouse", "cavort", "clamor", "cleave", "cobbler", "cogent", "conduit", "congruity", "connive", "consign", "contusion", "contrite", "covet", "cupidity", "crass", "clout", "callow", "captor", "careen", "cask", "chaff", "chard", "chasm", "chic", "chide", "chock", "chortle", "chroma", "clad", "coax", "cohere", "collude", "comity", "conjoin", "conk", "contort", "contuse", "coup", "cower", "cowl", "coy", "crag", "curt", "couth", "cyborg"]
d_words = ["dap", "deify", "dactyl", "duly", "dupe", "deft", "decry", "divvy", "dire", "delude", "doily", "dote", "drab", "drawl", "dyad", "droll", "daft", "dally", "dais", "dearth", "decoct", "debacle", "debauch", "debunk", "defunct", "despot", "didactic", "dirge", "discomfit", "dispel", "disrepute", "dogmatic", "dour", "duplicity", "doff"]
e_words = ["edict", "elegy", "elicit", "emend", "emollient", "enervate", "enfranchise", "ephemeral", "equivocal", "espouse", "evince", "exhort", "execrable", "exigent", "expiate", "expunge", "extol", "extant", "expurgate", "ebb", "edify", "effigy", "eke", "elate", "elude", "embroil", "eon", "ergo", "espy", "eve", "exude", "exult"]
f_words = ["fallacious", "fatuous", "fetter", "flagrant", "foiled", "foil", "fortuitous", "fractious", "fipple", "feign", "fickle", "flak", "flay", "fleck", "flub", "flux", "forgo", "frill", "furl"]
g_words = ["garrulous", "gourmand", "gratuitous", "grommet", "garish", "gauche", "ghee", "gnash", "gnaw", "goad", "gouge", "gruff", "guck", "gyre", "gyro"]
h_words = ["hapless", "heed", "heft", "helm", "hew", "hex", "hind", "hoax", "hovel", "hubris", "hue", "husk"]
i_words = ["iconoclast", "impinge", "impute", "inane", "inchoate", "inimical", "inoculate", "instigate", "inure", "invective", "illude", "imbue", "inapt", "ingot", "iota", "ire", "irk"]
j_words = ["jeer", "jibe", "jinx", "jive", "jolt", "jot", "jowl"]
k_words = ["knell", "keen", "kiln", "knave", "knoll"]
l_words = ["licentious", "linchpin", "litigant", "lank", "laud", "lave", "lax", "laze", "leer", "leery", "lest", "liquefy", "lithe", "loath", "lob", "lop", "lug", "lunge", "lurk", "lush"]
m_words = ["maelstrom", "maudlin", "maverick", "mawkish", "modicum", "morass", "mores", "maim", "malady", "maraud", "maw", "meek", "mewl", "miff", "moot", "mope", "morsel", "mull"]
n_words = ["nadir", "neophyte", "noisome", "nauseant", "naught", "nook"]
o_words = ["obdurate", "officious", "ostracism", "obtuse", "ode", "ombre", "omit", "opus"]
p_words = ["palliate", "panacea", "pariah", "paucity", "pejorative", "pellucid", "penurious", "pert", "pernicious", "phlegmatic", "pithy", "platitude", "plaudit", "plenitude", "portent", "potentate", "presage", "probity", "proclivity", "profligate", "proscribe", "protean", "prurient", "puerile", "perplex", "pilfer", "placid", "plait", "pleat", "poise", "posy", "pout", "preen", "primp", "privy", "prod", "profuse", "prone", "pry", "puny", "putrid", "pylon", "pyre"]
q_words = ["quaint", "quixotic", "quandary", "qualm", "quash", "quell", "quip", "quirk"]
r_words = ["relegate", "remiss", "reprieve", "reprobate", "rife", "rancor", "rapt", "rasp", "rebuff", "recant", "redact", "reek", "reel", "reform", "refract", "reify", "relent", "rend", "repute", "resile", "revile", "riff", "rile", "romp", "rout", "ruse"]
s_words = ["sanguine", "scurrilous", "sobriety", "solicitous", "solipsism", "staid", "stolid", "subjugate", "surfeit", "swarthy", "sultry", "sate", "scant", "schlep", "scoff", "scowl", "sect", "seep", "seethe", "shard", "sheen", "shirk", "shunt", "sidle", "sigil", "silt", "sinew", "singe", "skew", "skirr", "skulk", "slat", "sleuth", "slosh", "sly", "smelt", "smirk", "snafu", "snare", "sneer", "snide", "snub", "sod", "soiree", "somber", "sop", "souse", "spew", "spiel", "spire", "splay", "spry", "squall", "stasis", "stern", "stifle", "stint", "stoke", "stout", "stow", "strut", "suave", "subtle", "sunder", "supine", "surly", "swath", "swathe", "sync"]
t_words = ["tome", "toady", "torpid", "travesty", "trenchant", "trite", "truculent", "turpitude", "tirade", "tutor", "tacit", "tact", "tatter", "taut", "teem", "tepid", "tether", "thwart", "toil", "topple", "tousle", "trawl", "trice", "trifle", "trill", "trope", "tuft"]
u_words = ["umbrage", "upbraid", "unapt", "usury"]
v_words = ["veracity", "vestige", "vilify", "vitriolic", "valor", "vapid", "vat", "verve", "vex", "vie", "vigor", "vivid", "vouch", "vying"]
w_words = ["winsome", "wily", "waft", "wane", "wary", "weary", "welt", "whim", "whirl", "wield", "wile", "wiry", "woe", "writhe"]
y_words = ["yoke", "yowl"]
z_words = ["zephyr", "zeal"]

Then sorted each list individually.

In [12]:
a_words.sort()
b_words.sort()
c_words.sort()
d_words.sort()
e_words.sort()
f_words.sort()
g_words.sort()
h_words.sort()
i_words.sort()
j_words.sort()
k_words.sort()
l_words.sort()
m_words.sort()
n_words.sort()
o_words.sort()
p_words.sort()
q_words.sort()
r_words.sort()
s_words.sort()
t_words.sort()
u_words.sort()
v_words.sort()
w_words.sort()
y_words.sort()
z_words.sort()

Combined all of the lists into one.

In [13]:
alphabetically_sorted_words = a_words + b_words + c_words + d_words + e_words + f_words + g_words + h_words + i_words + j_words + k_words + l_words + m_words + n_words + o_words + p_words + q_words + r_words + s_words + t_words + u_words + v_words + w_words + y_words + z_words

Made the combined list into a new dataframe and checked to make sure there were no duplicates.

In [14]:
alpha_df = pd.DataFrame(alphabetically_sorted_words, columns=['word'])
print(alpha_df.value_counts())
alpha_df

word
zephyr        1
dearth        1
dally         1
dais          1
daft          1
             ..
pernicious    1
penurious     1
pellucid      1
pejorative    1
aback         1
Length: 604, dtype: int64

         word
0       aback
1       abaft
2     abalone
3       abamp
4    abampere
..        ...
599    writhe
600      yoke
601      yowl
602      zeal
603    zephyr

[604 rows x 1 columns]

Combined the lists of words by school level.

In [15]:
levels_added_together = middle_school_level + high_school_level + college_level + post_college_level

Combined all of the lists together to insure that there were exactly two of each word. Meaning that I had the same words in both.

In [16]:
checking_for_missing_words = alphabetically_sorted_words + levels_added_together
checking_for_missing_words_df = pd.DataFrame(checking_for_missing_words, columns=['word'])
print(checking_for_missing_words_df.value_counts())

word
zephyr        2
dearth        2
dally         2
dais          2
daft          2
             ..
pernicious    2
penurious     2
pellucid      2
pejorative    2
aback         2
Length: 604, dtype: int64

I then reindexed the result dataframe to match the order of the alphabetically sorted dataframe.

In [17]:
result = result.set_index('word')
result = result.reindex(index=alpha_df['word'])
result = result.reset_index()

Again insuring that there are only one of each word in my result dataframe.

In [18]:
result['word'].value_counts()

opus         1
proscribe    1
nauseant     1
divvy        1
ire          1
            ..
apiary       1
hoax         1
accost       1
pyre         1
awry         1
Name: word, Length: 604, dtype: int64

Just checking that everything looks correct.

In [19]:
result['complexity'].value_counts()

16    237
18    144
14    115
20    108
Name: complexity, dtype: int64

In [20]:
result['complexity']

0      16
1      20
2      16
3      20
4      20
       ..
599    16
600    14
601    20
602    14
603    16
Name: complexity, Length: 604, dtype: int64

Converting my result dataframe to the complex_words.csv.

In [21]:
result.to_csv("complex_words.csv", index=False)

Checking that the csv reads correctly.

In [22]:
complex_words = pd.read_csv('/content/complex_words.csv')

In [23]:
complex_words

         word   school level  complexity
0       aback    high school          16
1       abaft   post college          20
2     abalone    high school          16
3       abamp   post college          20
4    abampere   post college          20
..        ...            ...         ...
599    writhe    high school          16
600      yoke  middle school          14
601      yowl   post college          20
602      zeal  middle school          14
603    zephyr    high school          16

[604 rows x 3 columns]